<section class="w-full bg-teal-600 text-white relative">
    <!-- GAMEOVER SCREEN -->
    @if(gameService.getWinner() || gameService.isDraw()) {
    <app-game-over-screen />
    }

    <main class="min-h-screen h-full flex items-center justify-center flex-col gap-16 py-[2vh] px-4 z-0 max-sm:gap-8">
        <div class="text-center text-xl w-full max-w-[500px] select-none">
            <!-- SELETOR DO MODO DE JOGO -->
            <app-game-mode-selector />

            <!-- PLACAR -->
            <div class="grid grid-cols-2 gap-8">
                <!-- JOGADOR 1 -->
                <app-player-score [Icon]="XIcon" [score]="gameService.getScore().player1"
                    [highlight]="gameService.getIsPlayer1Turn()" />
                <!-- JOGADOR 2 -->
                <app-player-score [Icon]="CircleIcon" iconColor="text-orange-300"
                    [score]="gameService.getScore().player2" [highlight]="!gameService.getIsPlayer1Turn()" />
            </div>
        </div>
        <!-- TABULEIRO -->
        <app-game-board />

        <!-- REINICIAR JOGO -->
        <app-button (click)="gameService.restart()">
            <lucide-icon [img]="ResetIcon" class="size-7" />
        </app-button>

    </main>

    <!-- FOOTER -->
    <app-footer />
</section>